<div class="container">
    <form (ngSubmit)="edit()">
        <div class="p-3 mb-10 bg-secondary text-white" style="margin:5% 7%; display:flexbox ; justify-content:center">
            <div class="form-group" style=" max-width: 50%; ">
                <label for="placeName">Place Name</label>
                <input type="text" class="form-control" id="cabTypeName" aria-describedby="cabTypeNameHelp" name="cabTypeName"
                  placeholder="{{place.placeName}}"  [(ngModel)]="place.placeName" />
            </div>

            <input type="submit" class="btn btn-primary" value="submit" />
        </div>
    </form>
</div>


