<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
     

        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
            <a  class="nav-link " 
            style="cursor:pointer;" aria-haspopup="true"
            aria-expanded="false"  [routerLink]="[ '/places' ]"><h5 class="font-weight-bold text-uppercase mt-3 mb-5">Places</h5></a>     

        </div>

        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
            <a  class="nav-link " 
            style="cursor:pointer;" aria-haspopup="true"
            aria-expanded="false"  [routerLink]="[ '/bookings' ]"><h5 class="font-weight-bold text-uppercase mt-3 mb-5">Bookings</h5></a>     

        </div>


        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <a class="nav-link " 
          style="cursor:pointer;" aria-haspopup="true"
          aria-expanded="false"  [routerLink]="[ '/bookingsHistory' ]">  <h5 class="font-weight-bold text-uppercase mt-3 mb-5">Bookings History</h5> </a> 
        </div>
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <a class="nav-link " 
          style="cursor:pointer;" aria-haspopup="true"
          aria-expanded="false"  [routerLink]="[ '/cabType' ]">  <h5 class="font-weight-bold text-uppercase mt-3 mb-5">Cab Type</h5> </a> 
        </div>
  
      </div>

    </div>
    <div class="footer-copyright text-center py-3">© 2021 Made By:
     Biniam Yemane
    </div>
  
  
  </footer>