
<div class="container p-3 mb-2 bg-secondary text-white" style="margin: 100px;  border-style: solid;">
    
    <div  style="margin:5% 7%; display:flexbox ; justify-content:center; ">
       
        <dl class="row">
            <dt class = "col-sm-2">
                Cab Type Id
            </dt>
            <dd class = "col-sm-10">
                {{cabType?.cabTypeId}}
            </dd>
            <dt class = "col-sm-2">
                Cab Type Name
            </dt>
            <dd class = "col-sm-10">
                {{cabType?.cabTypeName}}
            </dd>
        </dl>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        
    </div>

</div>