<div class="container ">
    
    <div class="p-3 mb-2 bg-secondary text-white" style="margin:5% 7%; display:flexbox ; justify-content:center"  style="margin: 50px; border-style: solid;">

        <dl class="row" style="margin: 20px; ">
            <dt class = "col-sm-2">
                ContactNo
            </dt>
            <dd class = "col-sm-10">
                {{booking?.contactNo}}
            </dd>
            <dt class = "col-sm-2">
                Email address
            </dt>
            <dd class = "col-sm-10">
                {{booking?.email}}
            </dd>
            <dt class = "col-sm-2">
                Booking Date
            </dt>
            <dd class = "col-sm-10">
                {{booking?.bookingDate}}
            </dd>
            <dt class = "col-sm-2">
                Booking Time
            </dt>
            <dd class = "col-sm-10">
                {{booking?.bookingTime}}
            </dd>
            <dt class = "col-sm-2">
                From Place
            </dt>
            <dd class = "col-sm-10">
                {{booking?.fromPlace}}
            </dd>
            <dt class = "col-sm-2">
                To Place
            </dt>
            <dd class = "col-sm-10">
                {{booking?.toPlace}}
            </dd>
            <dt class = "col-sm-2">
                Pickup Address
            </dt>
            <dd class = "col-sm-10">
                {{booking?.pickupAddress}}
            </dd>
            <dt class = "col-sm-2">
                Land Mark
            </dt>
            <dd class = "col-sm-10">
                {{booking?.landMark}}
            </dd>
            <dt class = "col-sm-2">
                PickupDate
            </dt>
            <dd class = "col-sm-10">
                {{booking?.pickupDate}}
            </dd>
            <dt class = "col-sm-2">
                PickupTime
            </dt>
            <dd class = "col-sm-10">
                {{booking?.pickupTime}}
            </dd>
            <dt class = "col-sm-2">
                CabTypesId
            </dt>
            <dd class = "col-sm-10">
                {{booking?.cabTypesId}}
            </dd>
            <dt class = "col-sm-2">
                ContactNo
            </dt>
            <dd class = "col-sm-10">
                {{booking?.contactNo}}
            </dd>
            <dt class = "col-sm-2">
                Status
            </dt>
            <dd class = "col-sm-10">
                {{booking?.status}}
            </dd>
            <dt class = "col-sm-2">
                Comp time
            </dt>
        </dl>
        <button style="margin: 20px; " class="btn btn-danger" (click)="delete()">Delete</button>
    </div>

</div>